<% layout('layouts/boilerplate') -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h2><%=listing.title%></h2>
    </div>
    <div class="card col-8 offset-2 show-card listing-card">
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
       <div class="card-body">
        <br/>
        <h3 class="card-text"> <%=listing.location%>,  <%=listing.country%></h3>
         <p class="card-text"> <%= listing.guests %> guests<span class="dot"> • </span> <%= listing.bedrooms %> bedrooms </p>
         <hr/>
          <p class="card-text"><b>Hosted By  <%= listing.owner.username %></b>
            <br/>Superhost <span class="dot"> • </span> 8 years hosting </p>
            <p><i class="fa-solid fa-trophy"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Top 1% of homes</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This home is one of the highest ranked based on ratings, reviews and reliability.</p>
             <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Peace and quiet</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guests say this home is in a quiet area.</p>
            <p><i class="fa-solid fa-key"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Great check-in Experience</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recent guests loved the smooth start to this stay.</p>
            <hr/>
             <h4>About this place</h4>
             <p class="card-text"> <%=listing.description%></p>
           
             <h4>Price/night</h4>
             <p class="card-text"> &#8377;<%=listing.price.toLocaleString("en-IN")%></p>
              
          </p>
       </div>
    </div> 
 </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)){%>
  <div class="btns">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-1 offset-2 edit-btn">Edit</a>
        <form method="post" action="/listings/<%=listing._id%>?_method=Delete">
        <button class="btn btn-dark offset-5"> Delete </button>
        </form>
   </div>
     <%}%>
     <div class="card col-8 offset-2 mb-3 amenities" >
      <hr/>
      <h4>What this place offers</h4><br/>
     <div class="card-body">

    <p><i class="fa-solid fa-kitchen-set"></i> &nbsp;&nbsp;Kitchen &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
      <i class="fa-solid fa-wifi"></i>&nbsp;&nbsp; Wifi</p> 
       <p><i class="fa-solid fa-tv"></i>&nbsp;&nbsp; TV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa-solid fa-square-parking"></i>&nbsp;&nbsp; Free parking </p>
      <p><i class="fa-solid fa-snowflake"></i>&nbsp;&nbsp; AC – split-type ductless system</p>
       
    
  </div>
</div>
   
    <!-- <div class="col-6 offset-3 mb-3">
      <hr/>
      <h4>What this place offers</h4>
      <div>
       <p><i class="fa-solid fa-kitchen-set"></i> Kitchen </p> 
       <p><i class="fa-solid fa-tv"></i> TV </p>
       <p><i class="fa-solid fa-wifi"></i> Wifi</p>
      </div>

    </div> -->
   <div class="col-8 offset-2 mb-3">
      <% if(currUser){%>
          <hr/>
      <h4>Leave a Review</h4>
      <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
          <div class="mb-3 mt-3" >
            <label for="rating" class="form-label">Rating</label>
         <fieldset class="starability-heart">
          
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
         </fieldset>
         </div>
         <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please submit some comments for review</div>
         </div>
          <button class="btn btn-outline-dark">Submit</button>
      </form>
      <%}%>
      <% if(listing.reviews.length>0){%>
         <hr/>
     <div class="row">
      <p><b>All Reviews</b></p>
     <%for ( let review of listing.reviews){ %>
     <div class="card col-5 ms-3 mb-3">
      <div class="card-body">
         <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
         <p class="card-text"><%=review.comment%></p>
      </div>
      <% if (currUser && currUser._id.equals(review.author._id)) { %>
      <form class="mb-3" method="post" action="/listings/<%= listing._id%>/reviews/<%= review._id%>?_method=DELETE">
         <br/>
         <button class="btn btn-sm btn-dark">Delete</button>
      </form>
      <% } %>
     </div> 
     <%} %>
     </div>
   <%}%>
   </div>
<div class="col-8 offset-2 mb-3">
   <hr/>
  <h3>Where you'll be</h3>
  <br/>
  <div id="map" style="height:400px; width:100%; border:1px solid #ccc;"></div>
</div>

<script>
  const locationString = "<%= listing.location %>, <%= listing.country %>";


  window.initMap = function() {
    const geocoder = new google.maps.Geocoder();

    geocoder.geocode({ address: locationString }, (results, status) => {
      if (status === "OK" && results[0]) {
        const coords = results[0].geometry.location;

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13,
          center: coords,
        });

        // Creating marker
        const marker = new google.maps.Marker({
          position: coords,
          map: map,
          title: "<%= listing.title %>",
        });


        const infoWindow = new google.maps.InfoWindow({
             content: `
            <div style="font-size:14px; line-height:1.4;">
              <h5 style="margin:0;"><%= listing.title %></h5>
              <p style="margin:2px 0;">📍 <%= listing.location %>, <%= listing.country %></p>
              <p style="margin:0;">💰 ₹<%= listing.price.toLocaleString("en-IN") %></p>
              <p style="margin-top:4px;"> Welcome to this beautiful stay! Enjoy your visit.</p>
            </div>
          `,
        });

        marker.addListener("click", () => {
          infoWindow.open(map, marker);
        });

        infoWindow.open(map, marker);
      } else {
        console.error("Geocoding failed: " + status);
        document.getElementById("map").innerHTML =
          "Map could not be loaded. (" + status + ")";
      }
    });
  };
</script>

<!-- Load the Maps API -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.MAPS_API_KEY%>&callback=initMap"
  async defer>
</script>
<br/>
<br/>
